

body{
  font-family: 'Ubuntu', sans-serif;
  /* background-image: url('https://image.freepik.com/free-vector/abstract-watercolor-light-green-texture-background_1055-8198.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 120% 120%;
  background-image: url('https://i.pinimg.com/originals/2b/8b/b7/2b8bb7442d22fc9f0af8ca787de24a13.jpg');
}



#container{
  background-color:rgb(240, 247, 240);
  width:30%;
  color: rgb(213, 120, 104);
  /* border: 3px solid;
  border-image-source: linear-gradient(45deg, rgb(213,120,104), rgb(94,174,156));
  border-image-slice: 1; */
  text-align: center;
  margin-left:20%;
  border-radius: 15%;
  
}


#details{
  color: rgb(94, 174, 156);
}

form input{
  font-size: 2.5vw;
}


.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
} */

/* END OF BUTTON STYLE */

button {
  font-size: 1.5vh;
  background: rgb(134, 201, 187);
  color: #fff;
  border: 2px solid rgb(63, 117, 105);
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;

}
button:hover {
  color: #3498db;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}

button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}

button.slide_from_right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}

button.slide_from_top::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}

button.slide_from_bottom::after {
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
}

button[class^="grow"]::after {
  transition: all 0.3s ease;
}

button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}


button.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}

button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}


#outsideDiv{
  /* border:2px solid red; */
 flex-wrap: wrap;
 display:flex;
 margin-top:5%;
}

#test{
  width:30%;
  background-image:url('https://i.postimg.cc/Jz5T5VWb/fig.png');
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-color: transparent;
  color:white;
  text-align: center;
}


#paymentText{
  margin-top:7%;
  margin-left:5%;
  font-size: 1vh;
  position:absolute;
  width:20%;
}

#total{
  font-size: 2vw;
  color: rgb(239, 175, 163);
}


#chart{
  width:100%;
  /* margin-left:30%; */
  display:flex;
  justify-content: center;
}

header{
  /* border:2px solid red; */
  font-family: 'Ubuntu', sans-serif;
  height:5vw;
  background-color: rgb(72, 145, 129);
  color:white;
  font-size:3vw;
  border-bottom: 2px solid salmon;
}

#fig{
  height:90%;
  /* border:2px solid red; */

}


#loan{
  font-size:7vw;
  text-align:center;
  color:white;
  margin-bottom:-30px;
  margin-top:10px;
  font-family: 'Ubuntu', sans-serif;
}



#loan
{
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 6px rgb(24, 175, 165); /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 4px #000;
  -webkit-text-shadow: 0 0 4px #000;
}


footer{
  height:5vw;
  background-color: rgb(72, 145, 129);
  display:flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#github{
  height:60%;
  /* margin-left:45%; */
}


#footerDiv a{
  height:7vh;
  width:100%;
  display:flex;
  flex-direction: column;
}


#github:hover{
color:red;
}

#gh{
  margin-left:10%;
  font-size:1vh;
  background-color:transparent;
}
