

  body{
    font-family: 'Ubuntu', sans-serif;
    /* background-image: url('https://image.freepik.com/free-vector/abstract-watercolor-light-green-texture-background_1055-8198.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 120% 120%;
    background-image: url('https://i.pinimg.com/originals/2b/8b/b7/2b8bb7442d22fc9f0af8ca787de24a13.jpg');
  }



#container{
  background-color:rgb(240, 247, 240);
  width:30%;
  color: rgb(213, 120, 104);
  /* border: 3px solid;
  border-image-source: linear-gradient(45deg, rgb(213,120,104), rgb(94,174,156));
  border-image-slice: 1; */
  text-align: center;
  margin-left:20%;
  border-radius: 15%;
  
}


#details{
  color: rgb(94, 174, 156);
}

form input{
  font-size: 2.5vw;
}


/* STYLE FOR BUTTON */

/* .btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: .6rem;
  font-weight: 400;
  line-height: 10px;
  margin-top: 20px;
  padding: 1em 1.6em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-left:25%;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}




.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
} */



button {
  font-size: 1.5vh;
  background: rgb(134, 201, 187);
  color: #fff;
  border: 2px solid rgb(63, 117, 105);
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #3498db;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="slide"]::after {
  transition: all 0.35s;
}
button[class^="slide"]:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
button.slide_from_left::after {
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
}
button.slide_from_right::after {
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
}
button.slide_from_top::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}
button.slide_from_bottom::after {
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
}
button[class^="grow"]::after {
  transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
/* button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
}
button.grow_box:hover::after {
  transform: scale(1, 1);
} */
/* button.grow_ellipse::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8.34em;
  transform: scale(0, 0);
} */
/* button.grow_ellipse:hover::after {
  transform: scale(1, 1);
}
button.grow_skew_forward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
} */
/* button.grow_skew_forward:hover::after {
  transform: skewX(-45deg) scale(1, 1);
} */
/* button.grow_skew_backward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
} */

button.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}
button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}



/* END OF BUTTON STYLE */


#outsideDiv{
  /* border:2px solid red; */
 flex-wrap: wrap;
 display:flex;
 margin-top:5%;
}

#test{
  /* border: 3px solid;
  border-image-source: linear-gradient(45deg, rgb(94,174,156), rgb(213,120,104));
  border-image-slice: 1; */
  width:30%;
  background-image:url('https://i.postimg.cc/Jz5T5VWb/fig.png');
  background-size: 95% 95%;
  background-repeat: no-repeat;
 background-color: transparent;
 color:white;
 text-align: center;
 

}




#paymentText{
  margin-top:40%;
  font-size: 1vw;
}

#total{
  font-size: 2vw;
  color: rgb(239, 175, 163);
}


#chart{
  width:60%;
  margin-left:30%;
  
}





header{
  /* border:2px solid red; */
  height:5vw;
  background-color: rgb(72, 145, 129);
  color:white;
  font-size:3vw;
  border-bottom: 2px solid white;
}

#fig{
  height:90%;
  /* border:2px solid red; */

}


#loan{
  font-size:7vw;
  text-align:center;
  color:white;
  margin-bottom:-30px;
}



#loan
{
  text-shadow: 0 0 2px rgb(0, 0, 0); /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}